html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 100;
  margin-bottom: 15px;
}

p {
  margin: auto;
  margin-bottom: 40px;
  max-width: 90%;
}

.btn {
  display: inline-block;
  border: 3px solid #02bfdb;
  margin: 10px;
  margin-top: 60px;
  padding: 8px;
  border-radius: 6px;
}

.btn .fas {
  margin-right: 10px;
}

.btn:hover {
  background-color: #02bfdb;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-wrapper {
  background: white;
  -webkit-box-shadow: -1px 7px 18px -4px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 7px 18px -4px rgba(0, 0, 0, 0.75);
  width: 100%;
  position: fixed;
  z-index: 50;
}

.nav-wrapper nav {
  max-width: 1366px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-wrapper nav .left-nav {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 190px;
      flex-basis: 190px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-wrapper nav .middle-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-negative: auto;
      flex-shrink: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-wrapper nav .middle-nav li a {
  margin: 10px;
  padding: 10px;
}

.nav-wrapper nav .middle-nav li a:hover {
  border-bottom: 4px solid #02bfdb;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.nav-wrapper nav .right-nav {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-negative: auto;
      flex-shrink: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-wrapper nav .right-nav li a {
  display: inline-block;
  border: 3px solid #02bfdb;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}

.nav-wrapper nav .right-nav li a .fas {
  margin-right: 10px;
}

.nav-wrapper nav .right-nav li a:hover {
  background-color: #02bfdb;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-content {
  background: #d1d1d1;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.top-content h1 {
  margin-top: 1rem;
  font-size: 4rem;
}

.top-content h4 {
  margin-top: 1.5rem;
  font-size: 24px;
}

.top-content .input-form {
  max-width: 70rem;
  margin: auto;
  margin-top: 4rem;
  border: 10px solid rgba(46, 46, 46, 0.2);
  border-radius: 4px;
}

.top-content .input-form .flex-form {
  padding: 0 0px;
  background: white;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-content .input-form .flex-form > * {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.top-content .input-form .flex-form > input,
.top-content .input-form select {
  height: 35px;
  border-radius: 4px;
  border-top: 2px solid #02bfdb;
  border-bottom: 2px solid #02bfdb;
  border-left: none;
  border-right: none;
}

.top-content .input-form .flex-form > label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-content .input-form .flex-form > label i {
  background-color: #02bfdb;
  border-radius: 4px;
  padding: 10px;
}

.top-content .input-form .flex-form > #diff-sn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.b-c {
  max-width: 1366px;
  margin: auto;
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.b-c .b-c-boxes {
  display: -ms-grid;
  display: grid;
  grid-gap: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.b-c .b-c-boxes .parent {
  -webkit-box-shadow: 1px 10px 8px -7px rgba(0, 0, 0, 0.59);
          box-shadow: 1px 10px 8px -7px rgba(0, 0, 0, 0.59);
  border: 1px solid #d2d2d2;
  border-bottom: none;
  margin-top: 20px;
  border-radius: 9px;
}

.b-c .b-c-boxes .parent .child h3 {
  margin-top: 12px;
}

.b-c .b-c-boxes .parent .child p {
  margin-top: 8px;
  margin-bottom: 20px;
  color: #9b9a9a;
}

.b-c .b-c-boxes .image {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-c .b-c-boxes .image img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 100%;
}

.b-c .b-c-boxes .image:hover {
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.b-c .b-c-boxes .image:hover img {
  opacity: 0.3;
  -webkit-transform: rotate(10deg) scale(1.3);
          transform: rotate(10deg) scale(1.3);
  overflow: hidden;
}

.featured-listing {
  background: #fafafa;
  border-top: 2px solid #d2d2d2;
  border-bottom: 2px solid #d2d2d2;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.featured-listing .featured-listing-boxes {
  text-align: left;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.featured-listing .featured-listing-boxes .parent {
  border: 1px solid #d2d2d2;
  border-radius: 0px;
  position: relative;
}

.featured-listing .featured-listing-boxes .parent .for-hover {
  z-index: 1;
  opacity: 0;
  position: absolute;
  bottom: 60%;
  left: 49%;
}

.featured-listing .featured-listing-boxes .parent:hover .for-hover {
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.featured-listing .featured-listing-boxes .parent:hover .child .img-box img {
  opacity: 0.7;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.featured-listing .featured-listing-boxes .parent .child {
  background: white;
}

.featured-listing .featured-listing-boxes .parent .child .g-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-listing .featured-listing-boxes .parent .child .g-text .left {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.featured-listing .featured-listing-boxes .parent .child .g-text .right {
  color: #02bfdb;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  margin-right: 10px;
  text-align: right;
  margin-top: 12px;
}

.featured-listing .featured-listing-boxes .parent .child .g-text .right .fa-heart {
  display: inline-block;
  color: #e27f82;
  margin-left: 5px;
}

.featured-listing .featured-listing-boxes .parent .child p {
  color: #9b9a9a;
}

.featured-listing .featured-listing-boxes .parent .child p i {
  margin-right: 9px;
}

.featured-listing .featured-listing-boxes .parent .child p #individual {
  margin-left: 12px;
}

.featured-listing .featured-listing-boxes .parent .child .img-box {
  position: relative;
}

.featured-listing .featured-listing-boxes .parent .child .img-box .img-box-text {
  color: white;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.featured-listing .featured-listing-boxes .parent .child .img-box .img-box-text img {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
  margin-right: 8px;
}

.featured-listing .featured-listing-boxes .parent .child .img-box .img-box-text * {
  display: inline-block;
}

.featured-listing .featured-listing-boxes .parent .child img {
  width: 100%;
}

.featured-listing .featured-listing-boxes .parent .child h3 {
  margin-top: 12px;
  margin-left: 15px;
}

.featured-listing .featured-listing-boxes .parent .child p {
  margin: 0;
  margin-left: 15px;
  margin-top: 8px;
  padding-bottom: 20px;
}

.recent-listing {
  max-width: 1366px;
  margin: auto;
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.recent-listing .featured-listing-boxes {
  text-align: left;
  display: -ms-grid;
  display: grid;
  grid-gap: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.recent-listing .featured-listing-boxes .parent {
  border: 1px solid #d2d2d2;
  border-radius: 0px;
  position: relative;
}

.recent-listing .featured-listing-boxes .parent .for-hover {
  z-index: 1;
  opacity: 0;
  position: absolute;
  bottom: 60%;
  left: 49%;
}

.recent-listing .featured-listing-boxes .parent:hover .for-hover {
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.recent-listing .featured-listing-boxes .parent:hover .child .img-box img {
  opacity: 0.7;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.recent-listing .featured-listing-boxes .parent .child {
  background: white;
}

.recent-listing .featured-listing-boxes .parent .child .g-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-listing .featured-listing-boxes .parent .child .g-text .left {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.recent-listing .featured-listing-boxes .parent .child .g-text .right {
  color: #02bfdb;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  margin-right: 10px;
  text-align: right;
  margin-top: 12px;
}

.recent-listing .featured-listing-boxes .parent .child .g-text .right .fa-heart {
  display: inline-block;
  color: #e27f82;
  margin-left: 5px;
}

.recent-listing .featured-listing-boxes .parent .child .bottom-p {
  padding-bottom: 15px !important;
}

.recent-listing .featured-listing-boxes .parent .child p {
  color: #9b9a9a;
  padding-bottom: 0px !important;
}

.recent-listing .featured-listing-boxes .parent .child p i {
  margin-right: 9px;
}

.recent-listing .featured-listing-boxes .parent .child p #individual {
  margin-left: 12px;
}

.recent-listing .featured-listing-boxes .parent .child .img-box {
  position: relative;
}

.recent-listing .featured-listing-boxes .parent .child .img-box .img-box-text {
  color: white;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.recent-listing .featured-listing-boxes .parent .child .img-box .img-box-text img {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
  margin-right: 8px;
}

.recent-listing .featured-listing-boxes .parent .child .img-box .img-box-text * {
  display: inline-block;
}

.recent-listing .featured-listing-boxes .parent .child img {
  width: 100%;
}

.recent-listing .featured-listing-boxes .parent .child h3 {
  margin-top: 12px;
  margin-left: 15px;
}

.recent-listing .featured-listing-boxes .parent .child p {
  margin: 0;
  margin-left: 15px;
  margin-top: 8px;
  padding-bottom: 20px;
}

.p-f-theme {
  background-color: #cccccc;
  color: white;
  height: 350px;
  margin: 60px 0;
}

.p-f-content {
  padding-top: 70px;
  margin-left: 3%;
  text-align: left;
}

.p-f-content p {
  margin-right: 30%;
}

.p-f-content a {
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  text-decoration: none;
}

.p-f-content a:hover {
  color: #02bfdb;
  background-color: white;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.p-f-content .link {
  margin-top: 30px;
}

.pricing {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.pricing .packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .packages .item {
  min-width: 250px;
  max-width: 350px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid red;
  margin: 15px;
  padding: 10px;
  padding-bottom: 25px;
  border: 3px solid #cccccc;
  border-radius: 4px;
}

.pricing .packages .item h2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.pricing .packages .item p {
  color: #444444;
}

.pricing .packages .item .price {
  background-color: #fafafa;
  font-size: 40px;
  padding: 30px;
}

.pricing .packages .item .price h3 {
  color: #02bfdb;
}

.pricing .packages .item .price h3 #d-s {
  font-size: 25px;
  vertical-align: top;
  color: black;
}

.pricing .packages .item .price h3 .mo {
  font-size: 25px;
  color: black;
}

.pricing .packages .item .features p {
  margin: auto;
  padding: auto;
  line-height: 2.5;
}

.pricing .packages .item .features p .fas {
  color: #02bfdb;
  margin-right: 10px;
}

.pricing .packages .item:hover {
  border: 3px solid #02bfdb;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-box-shadow: -1px 7px 18px -4px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 7px 18px -4px rgba(0, 0, 0, 0.75);
}

.pricing .packages a {
  margin-top: 20px;
}

.pricing .packages a i {
  color: #02bfdb;
}

.pricing .packages a:hover {
  color: white;
}

.pricing .packages a:hover i {
  color: white;
}

.as-seen-box {
  margin: auto;
  background-color: #fafafa;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 60px;
}

.as-seen-box .as-seen-img {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 0;
}

.as-seen-box .as-seen-img img {
  margin: 1.2%;
  max-width: 100%;
}

footer {
  background: url("img/footer-bg.png") no-repeat center center/cover;
  margin-top: 70px;
}

footer .footer-content {
  padding: 2.3%;
  max-width: 1466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-content .box {
  max-width: 300px;
  margin: 2%;
}

footer .footer-content .box-1 {
  color: white;
}

footer .footer-content .box-1 a i {
  padding: 8px;
  margin: 1px;
  font-size: 22px;
  color: whitesmoke;
  background-color: #222222;
  border-radius: 5px;
}

footer .footer-content .box-1 a i:hover {
  background-color: #02bfdb;
  -webkit-transition: 400ms;
  transition: 400ms;
}

footer .footer-content .box-1 p {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  max-width: 100%;
}

footer .footer-content .box-2 {
  color: white;
}

footer .footer-content .box-2 .fi-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-content .box-2 .fi-item-box .fi-item-img {
  position: relative;
}

footer .footer-content .box-2 .fi-item-box .fi-item-img img {
  background-color: rgba(0, 0, 0, 0.4);
}

footer .footer-content .box-2 .fi-item-box .fi-item-img .s-i {
  position: absolute;
  right: 50px;
  top: 30px;
  opacity: 0;
}

footer .footer-content .box-2 .fi-item-box .fi-item-img:hover .s-i {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-content .box-2 .fi-item-box .fi-item-text {
  margin-left: 20px;
  color: white;
}

footer .footer-content .box-2 .fi-item-box .fi-item-text h4 {
  margin-bottom: 8px;
}

footer .footer-content .box-2 .fi-item-box .fi-item-text p {
  max-width: 100%;
  margin-top: 8px;
}

footer .footer-content .box-2 .fi-item-box .fi-item-text .fas {
  color: #02bfdb;
}

footer .footer-content .box-3 {
  color: white;
}

footer .footer-content .box-3 .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-content .box-3 .links a {
  background-color: #292929ed;
  color: white;
  padding: 10px;
  margin: 2px;
  vertical-align: middle;
}

footer .footer-content .box-3 .links a:hover {
  background-color: #02bfdb;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
/*# sourceMappingURL=style.css.map */